.main__title {
    font-size: 36px;
    text-align: center;
    margin: 50px auto;
}

.main__mail {
    width: 30%;
    margin: 30px auto 50px;
}

.main__mail button {
    width: 100%;
    font-size: 16px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.main__contents {
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
}

.main__user-table {
    width: 100%;
    min-width: 600px;
}

.main__user-table th {
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    padding-right: 20px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

.main__user-table__row {
    border-bottom: 1px solid gray;
}

.main__user-table td {
    font-size: 16px;
    padding: 20px 0;
    padding-right: 20px;
    vertical-align: middle;
    box-sizing: border-box;
}

.main__user-table td:nth-last-child(-n+2) {
    padding-right: 5px;
}

.main__user-table form {
    text-align: center;
}

.main__user-table__button {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.delete-button {
    background-color: red;
}

@media screen and (max-width: 768px) {
    .main__mail {
        width: 80%;
    }
}