.profile__wrapper {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__contents {
    display: flex;
    align-items: center;
}

.profile__image {
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile__name {
    font-size: 36px;
    font-weight: bold;
    margin: 0 20px;
}

.profile__contents-edit {
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #FF5555;
    border-radius: 10px;
}

.profile__contents-edit a {
    color: #FF5555;
    text-decoration: none;
}

.item__tab {
    height: 40px;
    border-bottom: 2px solid #5F5F5F;
    padding: 50px 90px 0;
    display: flex;
    list-style: none;
}

.item__tab li {
    font-size: 24px;
    font-weight: bold;
    margin-right: 70px;
    cursor: pointer;
}

.active {
    color: #FF5555;
}

.item__content {
    display: none;
}

.item__content.active {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 60px;
}

.main__item {
    width: 25%;
    position: relative;
    margin-bottom: 20px;
}

.item__form {
    width: 100%;
}

.item__image-button {
    width: 100%;
    height: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.item__image-button img {
    width: 80%;
    height: 80%;
    border-radius: 4px;
}

.item__content.active::after {
    display: block;
    content: '';
    flex-grow: 1;
}

.sold span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: red;
    font-size: 14px;
    background-color: white;
}

.sold img {
    filter: grayscale(150);
}

@media screen and (max-width:768px) {
    .profile__wrapper {
        display: block;
    }

    .profile__contents {
        margin-bottom: 20px;
    }

    .profile__contents-edit {
        text-align: center;
    }

    .item__tab {
        width: 100%;
        padding: 0 40px 10px;
        box-sizing: border-box;
    }

    .item__tab li {
        margin-left: 50px;
        margin-right: 0;
        font-size: 20px;
    }

    .item__content.active {
        margin: 50px 30px;
    }
    .main__item {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .profile__contents {
        display: block;
    }

    .profile__name {
        margin: 10px 20px;
    }

    .profile__contents-edit {
        font-size: 20px;
    }

    .item__tab {
        padding: 0 20px 10px;
    }

    .item__tab li {
        font-size: 18px;
        margin: 0 10px;
    }

    .main__item {
        width: 100%;
    }
}